@charset "utf-8";

@font-face {
  font-family: "SS";
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url(../font/SS-regular.woff2) format("woff2"),
    url(../font/SS-regular.woff) format("woff");
}

@font-face {
  font-family: "SS";
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  src: url(../font/SS-bold.woff2) format("woff2"),
    url(../font/SS-bold.woff) format("woff");
}
