@font-face {
  font-family: "SS";
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url(../font/SS-regular.woff2) format("woff2"),
    url(../font/SS-regular.woff) format("woff");
}

@font-face {
  font-family: "SS";
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  src: url(../font/SS-bold.woff2) format("woff2"),
    url(../font/SS-bold.woff) format("woff");
}

:root {
  --ssf-white: #fff;
  --ssf-black: #0b0d0f;
  --ssf-origin-black: #000;
  --ssf-primary: #0068ff;
  --ssf-secondary: #eef6ff;
  --ssf-default: #868a93;
  --ssf-alert: #ff6060;
  --ssf-red: #ff6060;
  --ssf-dark-blue: #7e89a2;
  --ssf-light-blue: #edf4ff;
  --ssf-light-red: #ffeded;
  --ssf-yellow: #ffc000;
  --ssf-orange: #ff9445;
  --ssf-light-orange: #ffede0;
  --ssf-green: #00d186;
  --ssf-light-green: #e5faf3;
  --ssf-aqua: #00b7fd;
  --ssf-very-good: #00b7fd;
  --ssf-good: #00d186;
  --ssf-increase: #f50057;
  --ssf-decrease: #286ef1;
  --ssf-badge-green: #0f9f7b;
  --ssf-badge-green2: #19cb8b;
  --ssf-badge-red: #ff4744;
  --ssf-badge-orange: #f45502;
  --ssf-badge-yellow: #d77712;
  --ssf-badge-olive: #809924;
  --ssf-badge-green3: #0f9f7b;
  --ssf-badge-blue: #0790de;
  --ssf-color-placeholder: #9095a1;
  --ssf-gray1: #5a5b63;
  --ssf-gray3: #b4b9c3;
  --ssf-disabled: #b4b9c3;
  --ssf-primary-hover: #0053cc;
  --ssf-primary-disabled: #b2d8ff;
  --ssf-secondary-hover: #cbe4ff;
  --ssf-secondary-90: #000b17;
  --ssf-red-hover: #ea5858;
  --ssf-red-disabled: #ffaeae;
  --ssf-red-error: #ffefef;
  --ssf-gray-5a5b63: #5a5b63;
  --ssf-gray-868a93: #868a93;
  --ssf-gray-b4b9c3: #b4b9c3;
  --ssf-gray-ccd1dc: #ccd1dc;
  --ssf-gray-e5e5e8: #e5e5e8;
  --ssf-gray-f1f1f3: #f1f1f3;
  --ssf-gray-f7f8f9: #f7f8f9;
  --ssf-gray-040505: #040505;
  --ssf-gray-eaebec: #eaebec;
  --ssf-gray-f5f5f5: #f5f5f5;
  --ssf-gray-e1e3e7: #e1e3e7;
  --ssf-gray-f5f6f7: #f5f6f7;
  --ssf-gray-f6f8f9: #f6f8f9;
  --ssf-gray-f9fafb: #f9fafb;
  --ssf-gray-cdcfd5: #cdcfd5;
  --ssf-gray-e5e5e5: #e5e5e5;
  --ssf-gray-f2f2f2: #f2f2f2;
  --ssf-gray-707070: #707070;
  --ssf-gray-efefef: #efefef;
  --ssf-gray-f2f2f5: #f2f2f5;
  --ssf-gray-e9ecee: #e9ecee;
  --ssf-gray-e2e5eb: #e2e5eb;
  --ssf-gray-9095a1: #9095a1;
  --ssf-gray-7e89a2: #7e89a2;
  --ssf-gray-e8eaed: #e8eaed;
  --ssf-gray-727780: #727780;
  --ssf-fz-headline-xsm: 1.6rem;
  --ssf-fz-headline-sm: 2.5rem;
  --ssf-fz-headline-md: 3.2rem;
  --ssf-fz-headline-lg: 5.2rem;
  --ssf-fz-title-micro: 1.4rem;
  --ssf-fz-title-tiny: 1.6rem;
  --ssf-fz-title-min: 1.8rem;
  --ssf-fz-title-xsm: 2rem;
  --ssf-fz-title-sm: 2.2rem;
  --ssf-fz-title-md: 2.4rem;
  --ssf-fz-title-lg: 2.6rem;
  --ssf-fz-title-xlg: 3rem;
  --ssf-fz-body-xsm: 1.2rem;
  --ssf-fz-body-sm: 1.4rem;
  --ssf-fz-body-md: 1.6rem;
  --ssf-fz-body-lg: 1.8rem;
  --ssf-fz-body-xlg: 2rem;
  --ssf-fz-body-max: 2.2rem;
  --ssf-fz-label-xsm: 1.4rem;
  --ssf-fz-label-sm: 1.6rem;
  --ssf-fz-label-md: 1.8rem;
  --ssf-fz-label-lg: 2rem;
  --ssf-height-header: 5.4rem;
  --ssf-height-header-mobile-only: 5.4rem;
  --ssf-div-color-xsm: #e9ecee;
  --ssf-div-color-sm: #f5f6f7;
  --ssf-div-color-md: #f5f6f7;
  --ssf-div-color-lg: #f7f8f9;
  --ssf-div-solid-xsm: 0.05rem;
  --ssf-div-solid-sm: 0.1rem;
  --ssf-div-solid-md: 0.1rem;
  --ssf-div-solid-lg: 1.2rem;
  --ssf-rd-1: 0.1rem;
  --ssf-rd-2: 0.2rem;
  --ssf-rd-4: 0.4rem;
  --ssf-rd-6: 0.6rem;
  --ssf-rd-8: 0.8rem;
  --ssf-rd-10: 1rem;
  --ssf-rd-12: 1.2rem;
  --ssf-rd-14: 1.4rem;
  --ssf-rd-16: 1.6rem;
  --ssf-rd-20: 2rem;
  --ssf-rd-24: 2.4rem;
  --ssf-rd-full: 100%;
  --ssf-btn-mh-tiny: 2.6rem;
  --ssf-btn-mh-min: 3.2rem;
  --ssf-btn-mh-xsm: 3.2rem;
  --ssf-btn-mh-sm: 4rem;
  --ssf-btn-mh-md: 4.8rem;
  --ssf-btn-mh-lg: 5.6rem;
  --ssf-btn-mh-xlg: 6.4rem;
  --ssf-btn-py-tiny: 0.5rem;
  --ssf-btn-py-min: 0.5rem;
  --ssf-btn-py-xsm: 0.5rem;
  --ssf-btn-py-sm: 0.8rem;
  --ssf-btn-py-md: 1.3rem;
  --ssf-btn-py-lg: 1.5rem;
  --ssf-btn-py-xlg: 2rem;
  --ssf-btn-px-tiny: 1.2rem;
  --ssf-btn-px-min: 1.2rem;
  --ssf-btn-px-xsm: 1.2rem;
  --ssf-btn-px-sm: 1.6rem;
  --ssf-btn-px-md: 1.6rem;
  --ssf-btn-px-lg: 2rem;
  --ssf-btn-px-xlg: 2.4rem;
  --ssf-btn-rd-tiny: 0.6rem;
  --ssf-btn-rd-min: 0.6rem;
  --ssf-btn-rd-xsm: 0.6rem;
  --ssf-btn-rd-sm: 1.2rem;
  --ssf-btn-rd-md: 1.2rem;
  --ssf-btn-rd-lg: 1.2rem;
  --ssf-btn-rd-xlg: 1.2rem;
  --ssf-btn-fz-tiny: 1.4rem;
  --ssf-btn-fz-min: 1.4rem;
  --ssf-btn-fz-xsm: 1.4rem;
  --ssf-btn-fz-sm: 1.4rem;
  --ssf-btn-fz-md: 1.8rem;
  --ssf-btn-fz-lg: 1.8rem;
  --ssf-btn-fz-xlg: 1.8rem;
  --ssf-btn-lh-tiny: 2.4rem;
  --ssf-btn-lh-min: 2rem;
  --ssf-btn-lh-xsm: 2rem;
  --ssf-btn-lh-sm: 2rem;
  --ssf-btn-lh-md: 2rem;
  --ssf-btn-lh-lg: 2.4rem;
  --ssf-btn-lh-xlg: 2.4rem;
  --ssf-input-h-sm: 4rem;
  --ssf-input-h-md: 4rem;
  --ssf-input-h-lg: 5.6rem;
  --ssf-input-px-sm: 1.6rem;
  --ssf-input-px-md: 1.6rem;
  --ssf-input-px-lg: 1.6rem;
  --ssf-input-rd-sm: 0.6rem;
  --ssf-input-rd-md: 0.8rem;
  --ssf-input-rd-lg: 0.8rem;
  --ssf-input-fz-sm: 1.6rem;
  --ssf-input-fz-md: 2rem;
  --ssf-input-fz-lg: 1.9rem;
  --ssf-select-h-xsm: 2.6rem;
  --ssf-select-h-sm: 2.6rem;
  --ssf-select-h-md: 4rem;
  --ssf-select-h-lg: 5.6rem;
  --ssf-select-pd-xsm: 0 1.8rem 0 0;
  --ssf-select-pd-sm: 0 4rem 0 1.2rem;
  --ssf-select-pd-md: 0 2.4rem 0 0;
  --ssf-select-pd-lg: 0 5.2rem 0 1.6rem;
  --ssf-select-rd-xsm: 0rem;
  --ssf-select-rd-sm: 0rem;
  --ssf-select-rd-md: 0rem;
  --ssf-select-rd-lg: 0.8rem;
  --ssf-select-fz-tiny: 1.6rem;
  --ssf-select-fz-xsm: 1.8rem;
  --ssf-select-fz-sm: 1.8rem;
  --ssf-select-fz-md: 2rem;
  --ssf-select-fz-lg: 1.9rem;
  --ssf-select-rn-xsm: 0;
  --ssf-select-rn-sm: 0;
  --ssf-select-rn-md: 1.6rem;
  --ssf-select-rn-lg: 1.6rem;
  --ssf-rdo-size-lg: 2rem;
  --ssf-rdo-size-xlg: 2.6rem;
  --ssf-rdo-chk-lg: 0.8rem;
  --ssf-rdo-chk-xlg: 1rem;
  --ssf-rdo-pos-lg: 0.5rem;
  --ssf-rdo-pos-xlg: 0.5rem;
  --ssf-rdo-fz-lg: 1.8rem;
  --ssf-rdo-fz-xlg: 1.8rem;
  --ssf-rdo-lh-lg: 2.4rem;
  --ssf-rdo-lh-xlg: 2.6rem;
  --ssf-chk-size-sm: 2.4rem;
  --ssf-chk-size-md: 2.4rem;
  --ssf-chk-size-lg: 2.6rem;
  --ssf-chk-chk-w-sm: 1.2rem;
  --ssf-chk-chk-w-md: 1.4119rem;
  --ssf-chk-chk-w-lg: 1.6rem;
  --ssf-chk-chk-h-sm: 0.8rem;
  --ssf-chk-chk-h-md: 0.8808rem;
  --ssf-chk-chk-h-lg: 1.1rem;
  --ssf-chk-chk-w-on-sm: 1.2rem;
  --ssf-chk-chk-w-on-md: 1.6238rem;
  --ssf-chk-chk-w-on-lg: 1.6rem;
  --ssf-chk-chk-h-on-sm: 0.8rem;
  --ssf-chk-chk-h-on-md: 1.0617rem;
  --ssf-chk-chk-h-on-lg: 1.1rem;
  --ssf-chk-pos-sm: 0.5rem;
  --ssf-chk-pos-md: 0.5rem;
  --ssf-chk-pos-lg: 0.5rem;
  --ssf-chk-fz-sm: 1.6rem;
  --ssf-chk-fz-md: 1.6rem;
  --ssf-chk-fz-lg: 1.8rem;
  --ssf-chk-lh-sm: 2rem;
  --ssf-chk-lh-md: 2rem;
  --ssf-chk-lh-lg: 2.6rem;
  --ssf-chk-rd-sm: 0;
  --ssf-chk-rd-md: 0;
  --ssf-chk-rd-lg: 1rem;
  --ssf-chk-pd-left-sm: 3.2rem;
  --ssf-chk-pd-left-md: 4.2rem;
  --ssf-chk-top-sm: 0.5rem;
  --ssf-chk-top-md: 0.5rem;
  --ssf-chk-left-sm: 0.78rem;
  --ssf-chk-left-md: 1.1rem;
  --ssf-chk-top-on-sm: 0.5rem;
  --ssf-chk-top-on-md: 0.47rem;
  --ssf-chk-left-on-sm: 0.78rem;
  --ssf-chk-left-on-md: 1.02rem;
  --ssf-tab-h-1dep: 4.8rem;
  --ssf-tab-h-2dep: 4.8rem;
  --ssf-tab-h-3dep: 4rem;
  --ssf-tab-fz-1dep: 1.6rem;
  --ssf-tab-fz-2dep: 1.6rem;
  --ssf-tab-fz-3dep: 1.6rem;
  --ssf-tab-px-1dep: 1.6rem;
  --ssf-tab-px-2dep: 1.6rem;
  --ssf-tab-px-3dep: 1.5rem;
  --ssf-tab-ml-1dep: 0;
  --ssf-tab-ml-2dep: 0;
  --ssf-tab-ml-3dep: 0;
  --ssf-tab-rd-1dep: 0.8rem;
  --ssf-tab-rd-2dep: 0.8rem;
  --ssf-tab-rd-3dep: 2rem;
  --ssf-ico-md: 2.4rem;
  --ssf-spacer-50: 20rem;
  --ssf-spacer-49: 19.6rem;
  --ssf-spacer-48: 19.2rem;
  --ssf-spacer-47: 18.8rem;
  --ssf-spacer-46: 18.4rem;
  --ssf-spacer-45: 18rem;
  --ssf-spacer-44: 17.6rem;
  --ssf-spacer-43: 17.2rem;
  --ssf-spacer-42: 16.8rem;
  --ssf-spacer-41: 16.4rem;
  --ssf-spacer-40: 16rem;
  --ssf-spacer-39: 15.6rem;
  --ssf-spacer-38: 15.2rem;
  --ssf-spacer-37: 14.8rem;
  --ssf-spacer-36: 14.4rem;
  --ssf-spacer-35: 14rem;
  --ssf-spacer-34: 13.6rem;
  --ssf-spacer-33: 13.2rem;
  --ssf-spacer-32: 12.8rem;
  --ssf-spacer-31: 12.4rem;
  --ssf-spacer-30: 12rem;
  --ssf-spacer-29: 11.6rem;
  --ssf-spacer-28: 11.2rem;
  --ssf-spacer-27: 10.8rem;
  --ssf-spacer-26: 10.4rem;
  --ssf-spacer-25: 10rem;
  --ssf-spacer-24: 9.6rem;
  --ssf-spacer-23: 9.2rem;
  --ssf-spacer-22: 8.8rem;
  --ssf-spacer-21: 8.4rem;
  --ssf-spacer-20: 8rem;
  --ssf-spacer-19: 7.6rem;
  --ssf-spacer-18: 7.2rem;
  --ssf-spacer-17: 6.8rem;
  --ssf-spacer-16: 6.4rem;
  --ssf-spacer-15: 6rem;
  --ssf-spacer-14: 5.6rem;
  --ssf-spacer-13: 5.2rem;
  --ssf-spacer-12: 4.8rem;
  --ssf-spacer-11: 4.4rem;
  --ssf-spacer-10: 4rem;
  --ssf-spacer-9: 3.6rem;
  --ssf-spacer-8: 3.2rem;
  --ssf-spacer-7: 2.8rem;
  --ssf-spacer-6: 2.4rem;
  --ssf-spacer-5: 2rem;
  --ssf-spacer-4: 1.6rem;
  --ssf-spacer-3: 1.2rem;
  --ssf-spacer-2: 0.8rem;
  --ssf-spacer-1: 0.4rem;
  --ssf-spacer-0: 0;
  --ssf-spacer-default: 0.1rem;
  --ssf-spacer-default2: 0.2rem;
  --ssf-spacer-full: 100%;
  --ssf-spacer-page-foot: 14.8rem;
  --ssf-spacer-page-space: 2.4rem;
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --ssf-bullet-depth1: 1.3rem;
  --ssf-load-dot-size: 3rem;
  --ssf-load-dot-speed: 1s;
  --ssf-load-dot-color: #0068ff;
  --ssf-load-spinner-size: 4.5rem;
  --ssf-load-spinner-speed: 2s;
  --ssf-load-spinner-color: #b4b9c3;
}

@media (min-width: 1220px) {
  :root {
    --ssf-fz-display-sm: 4rem;
    --ssf-fz-display-md: 5rem;
    --ssf-fz-display-lg: 6.6rem;
    --ssf-fz-headline-sm: 3.2rem;
    --ssf-fz-headline-md: 4rem;
    --ssf-fz-headline-lg: 5rem;
    --ssf-height-header: 13.3rem;
  }
}
